@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

:root {
   --body-color: #efefef;
   --nav-color: #187df2;
   --bg-color: #fff;
}

.dark-theme {
   --body-color: #0a0a0a;
   --nav-color: #000;
   --bg-color: #000;
}

body {
   background: var(--body-color);
   transition: background .3s;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--nav-color);
   padding: 5px 5%;
   position: sticky;
   top: 0;
   z-index: 100;
}
.min-logo {
   display: flex;
   font-size: 40px;
   padding: 2px;
   margin: 5px 30px 0px 0px;
   color: white;
}


.logo {
   width: 60px;
   height: 50px;
   margin-right: 45px;
}

.nav-left, .nav-right{
   display: flex;
   align-items: center;
}

.nav-left ul {
   margin: 0 50px;
}
.nav-left ul li {
   list-style: none;
   display: inline-block;
}

.nav-left ul li i {
   width: 40px;
   font-size: 25px;
   margin: 0 30px;
}

.nav-user-icon img {
   width: 40px;
   border-radius: 50%;
   cursor: pointer;
}


.nav-user-icon {
   margin-left: 30px;
}

.online {
   position: relative;
}

.online::after {
   content: '';
   width: 8px;
   height: 8px;
   border: 2px solid #fff;
   border-radius: 50%;
   background: #41db51;
   position: absolute;
   top: 0;
   right: 0;
}



.search-box {
   display: inline-block;
   background: var(--body-color);
   color: #626262;
   width: 350px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding: 0 15px;
}

.search-box input {
   border: none;
   width: 100%;
   background: transparent;
   padding: 10px;
   font-size: 18px;
   outline: 0;
   border: 0;
}


.settings-menu {
   position: absolute;
   width: 90%;
   max-width: 350px;
   background: var(--bg-color);
   box-shadow: 0 0 10px rgba(0,0,0, .4);
   color: #626262;
   border-radius: 4px;
   overflow: hidden;
   top: 108%;
   right: 5%;
   max-height: 0;
   transition: max-height .3s;
}
.settings-menu-height {
   max-height: 450px;
}

.settings-menu-inner {
   padding: 20px;
}
.settings-menu hr {
   border: 0;
   height: 1px;
   background: #9a9a9a;
   margin: 15px 0;
}

.settingss-profile {
   display: flex;
   gap: 10px;
}

.settingss-profile img {
   border-radius: 50%;
   width: 50px;
}

.settingss-profile a {
   font-size: 12px;
   text-decoration: none;
   color: #1876F2;
}

.setting-links {
   display: flex;
   align-items: center;
   margin: 15px 0;
}

.settings-icon {
   width: 38px;
   margin-right: 10px;
   border-radius: 50%;
}

.setting-links a {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: space-between;
   text-decoration: none;
   color: #626262;
}

/* .......................dark mode-------------------------- */
#dark-btn {
   position: absolute;
   top: 20px;
   right: 20px;
   background: #ccc;
   width: 45px;
   border-radius: 15px;
   padding: 2px 3px;
   cursor: pointer;
   display: flex;
   transition: padding-left .5s, background 0.5s;
}

#dark-btn span {
   width: 18px;
   height: 18px;
   background: #fff;
   border-radius: 50%;
   display: inline-block;
}

#dark-btn.dark-btn-on {
   padding-left: 23px;
   background: #0a0a0a;
}

.container {
   display: flex;
   justify-content: space-between;
   padding: 13px 5px;

}

.left-sidebar {
   /* background: #cbdffa; */
   flex-basis: 25%;
   position: sticky;
   top: 70px;
   align-self: flex-start;
   height: 100vh;
}

.right-sidebar {
   background: var(--bg-color);
   padding: 20px;
   color: #626262;
   flex-basis: 25%;
   position: sticky;
   top: 70px;
   align-self: flex-start;
   height: 100vh;
}

.main-content {
   flex-basis: 47%;
}

.imp-links a {
   text-decoration: none;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   color: #626262;
   width: fit-content;
   margin-left: 10px;
}

.imp-links a i {
   width: 25px;
   margin-right: 15px;
}

.imp-links a:last-child {
   color: #1876f2;

}

.imp-links {
   border-bottom: 1px solid #ccc;
}


.shortcut-links a {
   text-decoration: none;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   color: #626262;
   width: fit-content;
   margin-left: 20px;
}

.shortcut-links a img {
   width: 70px;
   height: 80px;
   border-radius: 7px;
   margin-right: 15px;
}

.shortcut-links p {
   margin: 25px 0;
   color: #626262;
   font-weight: 500;
}

.sidebar-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 18px;
}

.sidebar-title h4 {
   font-weight: 600;
   font-size: 16px;
}

.sidebar-title a {
   text-decoration: none;
   color: #1876f2;
   font-size: 12px;
}

.event {
   display: flex;
   padding-top: 10px;
   font-size: 14px;
   margin-bottom: 20px;

}

.event p {
   font-size: 14px;
   
}
.event a {
   font-size: 14px;
   text-decoration: none;
   color: #1876f2;
}

.left-event {
   border-radius: 10px;
   height: 65px;
   width: 65px;
   margin-right: 15px;
   padding-top: 5px;
   text-align: center;
   position: relative;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0,0,0,.1);

}

.left-event span {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   color: #fff;
   background: #1876f2;
   font-size: 10px;
   padding: 4px 0;
}

.sidebar-ads {
   width: 100%;
   margin-bottom: 20px;
   border-radius: 4px;
}


.right-event h4 {
   padding-top: 5px;
   font-size: 16px;
}

.online-list {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   position: relative;
}

.online-list p {
   margin-left: 20px;
}

.online-list .online img {
   height: 50px;
   width: 60px;
   border-radius: 50%;
}

.online-list .online {
   width: 53px;
   border-radius: 50%;
   margin-right: 15px;
}

.online-list .online::after {
   top: unset;
   bottom: 9px;
}

.story-gallery {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.story-gallery .story {
   flex-basis: 18%;
   padding-top: 32%;
   position: relative;
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../img2.jpg);
   border-radius: 5px;
   background-position: center;
   background-size: cover;
}

.story-gallery .story i,
.story-gallery .story img {
   position: absolute;
   width: 35px;
   border-radius: 50%;
   height: 45px;
   width: 50px;
   top: 10px;
   left: 10px;
   border: 3px solid #1876f2;
}

.story-gallery .story p {
   position: absolute;
   bottom: 10px;
   width: 100%;
   text-align: center;
   color: #fff;
   font-size: 16px;
}

.story-gallery .story1 {
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../img2.jpg);
   justify-content: center;
   text-align: center;
}
.story-gallery .story2 {
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../story1.jpg);
}
.story-gallery .story3 {
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../story5.jpg);
}
.story-gallery .story4 {
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../story4.jpg);
}
.story-gallery .story5 {
   background-image: linear-gradient(transparent, rgba(0, 0, 0, .5)), url(../story2.jpg);
}

.story.story1 i {
   top: unset;
   left: 85px;
   bottom: 40px;
   transform: translateX(-50%);
   font-size: 45px;
}

.write-post-container {
   width: 100%;
   background: var(--bg-color);
   border-radius: 6px;
   padding: 20px;
   color: #626262;
}

.user-profile {
   display: flex;
   align-items: center;
}

.user-profile img {
   width: 50px;
   border-radius: 50%;
   margin-right: 10px;
}

.user-profile p {
   margin-bottom: -5px;
   font-weight: 500;
   color: #626262;
}

.user-profile small {
   font-size: 12px;
   padding: 10px 0;
}
.user-profile small i {
   margin-left: 3px;
}

.post-input-container {
   padding: 20px 0 0 55px ;
}

.post-input-container textarea {
   width: 100%;
   border: 0;
   outline: 0;
   border-bottom: 1px solid #ccc;
   background: transparent;
   resize: none;
}

.add-post-links {
   display: flex;
   margin-top: 10px;
   width: 500px;
   justify-content: space-between;
}
.add-post-links a {
   display: flex;
   text-decoration: none;
   align-items: center;
}

.add-post-links a i {
   font-size: 18px;
   margin-left: 10px;
   margin-right: 10px;
}

.post-container {
   width: 100%;
   background: var(--bg-color);
   border-radius: 6px;
   padding: 20px;
   color: #626262;
   margin-top: 10px;

}

.user-profile {
   display: flex;
   flex-direction: row;
}

.user-profile span {
   font-size: 13px;
   color: #9a9a9a;
}

.post-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.post-row a {
   color: #9a9a9a;
   font-size: 20px;
}

.post-text {
   color: #9a9a9a;
   margin: 15px 5px;
   font-size: 18px;
   
}

.post-text span {
   color: #626262;
   font-weight: 500;
   font-size: 18px;
}
.post-text a {
   color: #1876F2;
   text-decoration: none;
}

.profile-container .name {
   margin-bottom: 5px;
}

.post-img {
   width: 100%;
   height: 400px;
   border-radius: 6px;
   margin-bottom: 5px;
}


.activity-icons div {
   display: inline-flex;
   align-items: center;
   margin-right: 30px;
}
.activity-icons div i p {
   font-size: 23px;
   font-weight: 400;
   margin-left: 20px;
   padding-top: 5px;
}

.activity-icons .like i {
   display: inline-flex;
   font-size: 29px;
   margin: 5px;
   color: red;
}
.activity-icons .comment i {
   display: inline-flex;
   font-size: 29px;
   color: #626262;
}
.activity-icons .share i {
   display: inline-flex;
   font-size: 29px;
   color: #626262;
}


.post-profile-icon {
   display: flex;
   align-items: center;
}

.post-profile-icon img{
   width: 20px;
   border-radius: 50%;
   margin-right: 5px;
}

.load-more-btn {
   display: block;
   margin: auto;
   cursor: pointer;
   padding: 5px 10px;
   border: 1px solid #9a9a9a;
   color: #626262;
   background: transparent;

}

.footer {
   text-align: center;
   color: #9a9a9a;
   padding: 10px 0 20px;
   font-size: 15px;
}